$green: #1db954;
$lightgreen: #1ed760;
$black: #191414;
$dark: #181818;
$lightgray: #b2b2b2;
$white: #fff;

:export {
	green: $green;
	lightgreen: $lightgreen;
	black: $black;
	dark: $dark;
	lightgray: $lightgray;
	white: $white;
}
